<div style="margin-left: 50px; margin-right: 50px;">



	<div class="mm-body">
		<div class="page-header" style="min-height: 80px;">
			<div style="float: left; margin-right: 10px; margin-top: -10px;">
				<img style="width: 80px; height: 80px;"
					src="content/images/measureLogo.png"
					ng-show="vm.project.projectImage == null"> <img
					style="width: 80px; height: 80px;"
					src="{{vm.project.projectImage}}"
					ng-show="vm.project.projectImage != null">
			</div>
			<h2>{{vm.phase.project.projectName}} : {{vm.phase.phaseName}}</h2>
			<h4>{{vm.phase.phaseDescription}}</h4>
		</div>




		<ol class="breadcrumb">
			<li><a ui-sref="home">Home</a></li>
			<li><a ui-sref="catalogue">Catalogue</a></li>
			<li><a ui-sref="appproject({id:vm.phase.project.id})">
					{{vm.phase.project.projectName}}</a></li>
			<li><a ui-sref="projectphases({phaseId:vm.phase.id})">
					{{vm.phase.phaseName}}</a></li>
		</ol>

		<div style="float: right; margin-top: -38px">
			<button class="btn btn-link"
				ui-sref="projectphases.edit({phaseId:vm.phase.id})">
				<span class="glyphicon glyphicon-pencil" aria-hiden="true"></span>
			</button>
			<button class="btn btn-link"
				ui-sref="projectphases.delete({phaseId:vm.phase.id})">
				<span class="glyphicon glyphicon-remove" aria-hiden="true"></span>
			</button>
		</div>

		<ul class="nav nav-tabs">
			<li role="presentation" ng-repeat="dashboard in vm.dashboards"
				ng-class="vm.isActive($index)"><a
				ng-click="vm.setActive($index)">{{dashboard.dashboardName}}</a></li>
		</ul>

		<div style="float: right; margin-top: -30px">
			<div ng-if="!vm.dashboards[vm.selectedDashboard].isExternal"
				style="float: right;">
				<button class="btn btn-link" ng-show="!vm.editdashboard"
					ng-click="vm.edition()">
					<span class="glyphicon glyphicon-picture" aria-hiden="true"></span>
				</button>
				<button class="btn btn-default active" ng-show="vm.editdashboard"
					ng-click="vm.edition()">
					<span class="glyphicon glyphicon-picture" aria-hiden="true"></span>
				</button>
			</div>
			<button class="btn btn-link"
				ui-sref="projectphases.newdashboard({phaseId:vm.phase.id})">
				<span class="glyphicon glyphicon-plus" aria-hiden="true"></span>
			</button>
			<button class="btn btn-link"
				ui-sref="projectphases.editdashboard({dashboardid:vm.dashboards[vm.selectedDashboard].id})">
				<span class="glyphicon glyphicon-pencil" aria-hiden="true"></span>
			</button>
			<button class="btn btn-link"
				ui-sref="projectphases.deletedashboard({dashboardid:vm.dashboards[vm.selectedDashboard].id})">
				<span class="glyphicon glyphicon-remove" aria-hiden="true"></span>
			</button>
		</div>
		<div class="well">
			<div
				ng-if="vm.dashboards[vm.selectedDashboard].dashboardDescription != null"
				class="alert alert-info" style="padding: 10px;">
				{{vm.dashboards[vm.selectedDashboard].dashboardDescription}}</div>

			<div ng-if="vm.dashboards[vm.selectedDashboard].isExternal">
				<div
					ng-bind-html="vm.dashboards[vm.selectedDashboard].content| to_trusted"></div>
			</div>

			<div ng-if="!vm.dashboards[vm.selectedDashboard].isExternal">
				<div
					ng-repeat="measureview in vm.dashboards[vm.selectedDashboard].measureview"
					style="display: inline-block; padding: 10px; text-align: center;">
					<div class="row">
						<div class="thumbnail"
							style="margin: 0px; text-align: center;margin-right: 5px;margin-left: 5px;">
							<div ng-bind-html="measureview.viewData | to_trusted"></div>
							<div class="caption" style="text-align: center;">
								<h3 style="margin: 0px;">{{measureview.name}}</h3>
								<p style="margin: 0px;">{{measureview.description}}</p>
							</div>
						</div>
					</div>
					<div class="row" style="float: right;">
						<button class="btn btn-link" ng-show="vm.editdashboard"
							ui-sref="projectphases.editgraphic({viewid:measureview.id})">
							<span class="glyphicon glyphicon-pencil" aria-hiden="true"></span>
						</button>
						<button class="btn btn-link" ng-show="vm.editdashboard"
							ng-click="vm.deletegraphic(measureview.id)">
							<span class="glyphicon glyphicon-remove" aria-hiden="true"></span>
						</button>
					</div>

				</div>
				<div class="btn btn-default"
					style="width: 256px; height: 256px; margin: 30px; vertical-align: top;"
					ng-show="vm.editdashboard"
					ui-sref="projectphases.addgraphic({dashboardid:vm.dashboards[vm.selectedDashboard].id})">
					<span class="glyphicon glyphicon-plus" aria-hiden="true"
						style="margin-top: 45%"></span>
				</div>
			</div>

		</div>
	</div>
</div>










