######################
# Project Specific
######################
/target/www/**

######################
# Eclipse
######################
.project
.classpath
.factorypath
.settings/

######################
# Maven
######################
/log/
/target/

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db
