<div style="margin-left: 10px; margin-right: 10px;">

	<div class="mm-body">
		<div class="page-header" style="min-height: 40px;">
			<div style="float: left;">
				<img class="img-rounded"
					style="width: 30px; height: 30px; margin-right: 20px;"
					src="content/images/measureLogo.png"
					ng-if="vm.project.projectImage == null" /> <img
					class="img-rounded" style="width: 30px; height: 30px;"
					src="{{vm.project.projectImage}}"
					ng-if="vm.project.projectImage != null" />

			</div>
			<h2>{{vm.project.projectName}}</h2>
		</div>

		<ol class="breadcrumb">
			<li><a ui-sref="home">Home</a></li>
			<li><a ui-sref="catalogue">Projects</a></li>
			<li><a ui-sref="projectoverview({id:vm.project.id})">
					{{vm.project.projectName}}</a></li>
		</ol>

		<div class="row" style="margin: 0px;">
			<div class="col-lg-12 bhoechie-tab-container">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bhoechie-tab-menu">
					<div class="list-group">
						<a ui-sref="projectoverview({id:vm.project.id})"
							class="list-group-item text-center active">
							<h4 class="glyphicon glyphicon-blackboard"></h4> <br />Dashboards
						</a> <a ui-sref="notification({id:vm.project.id})"
							class="list-group-item text-center">
							<h4 class="glyphicon glyphicon-flag"></h4> <br />Notifications
							({{vm.notifications.length}})
						</a>  <a
							ui-sref="analysismainview({id:vm.project.id})"
							class="list-group-item text-center ">
							<h4 class="glyphicon glyphicon-barcode"></h4> <br />Data Analysis
						</a> <a ng-if="vm.hasManagerRole == 'true'" ui-sref="applicationinstances({id:vm.project.id})"
							class="list-group-item text-center">
							<h4 class="glyphicon glyphicon-export"></h4> <br />Data sources
						</a> <a ng-if="vm.hasManagerRole == 'true'" ui-sref="generalconf({id:vm.project.id})"
							class="list-group-item text-center">
							<h4 class="glyphicon glyphicon-cog"></h4> <br />Configuration
						</a>
					</div>
				</div>

				<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 bhoechie-tab"
					style="margin-top: 10px;">
					<ul class="nav nav-tabs">
						<li role="presentation" ng-repeat="dashboard in vm.dashboards"
							ng-class="vm.isActive($index)"><a ng-if="dashboard.mode=='OVERVIEW'" ng-click="vm.setActive($index)">
								<span style="float:left;">
									<img class="img-rounded"
										style="width: 19px; height: 19px; margin-left: 5px;"
										src="content/images/measureLogo.png"
										ng-if="vm.project.projectImage == null" /> <img
										class="img-rounded" style="width: 19px; height: 19px;margin-right: 5px;"
										src="{{vm.project.projectImage}}"
										ng-if="vm.project.projectImage != null" />

								</span> {{vm.project.projectName}}
								</a>
								<a ng-if="dashboard.mode == 'APPLICATION'" ng-click="vm.setActive($index)">
								<span style="float:left;">
									<img
										style="width: 19px; height: 19px; margin-right: 5px;"
										src="content/images/application.png" /> 

								</span>
								 {{dashboard.dashboardName}}
								</a>
								<a ng-if="dashboard.mode != 'APPLICATION' && dashboard.mode != 'OVERVIEW'" ng-click="vm.setActive($index)">
								<span style="float:left;">
									<img ng-if="dashboard.hasEditionRole != true"
										style="width: 16px; height: 16px; margin-right: 5px;"
										src="content/images/external.png" /> 
									<img ng-if="dashboard.hasEditionRole == true"
										style="width: 16px; height: 16px; margin-right: 5px;"
										src="content/images/personal.png" /> 

								</span>
								{{dashboard.dashboardName}}
								</a>
						
						
						</li>
	
						<li role="presentation"><a
							ui-sref="projectoverview.newdashboard({id:vm.project.id})"><span
								class="glyphicon glyphicon-plus" aria-hiden="true"></span></a></li>

					</ul>

					<div ng-if="vm.dashboards[vm.selectedDashboard] != null"
						class="well-dashboard" style="min-height: 600px;">
						<div ng-if="vm.dashboards[vm.selectedDashboard].hasEditionRole == true" style="float: right; margin-top: -60px; margin-right: -15px;">
							<div ng-if="vm.dashboards[vm.selectedDashboard].mode == 'MANUAL' || vm.dashboards[vm.selectedDashboard].mode == 'OVERVIEW'" style="float: right;">
								<button class="btn btn-link" ng-show="!vm.editdashboard"
									ng-click="vm.edition()">
									<span class="glyphicon glyphicon-picture" aria-hiden="true"></span>
								</button>
								<button class="btn btn-default active"
									ng-show="vm.editdashboard" ng-click="vm.edition()">
									<span class="glyphicon glyphicon-picture" aria-hiden="true"></span>
								</button>
							</div>
							<button 
								ng-if="vm.dashboards[vm.selectedDashboard].editable == true"
								class="btn btn-link"
								ui-sref="projectoverview.editdashboard({dashboardid:vm.dashboards[vm.selectedDashboard].id})">
								<span class="glyphicon glyphicon-pencil" aria-hiden="true"></span>
							</button>
							<button
								ng-if="vm.dashboards[vm.selectedDashboard].editable == true"
								class="btn btn-link"
								ui-sref="projectoverview.deletedashboard({dashboardid:vm.dashboards[vm.selectedDashboard].id})">
								<span class="glyphicon glyphicon-remove" aria-hiden="true"></span>
							</button>


						</div>
							<div ng-show="vm.editdashboard" class="page-header"
								style="width: 100%;  vertical-align: bottom; display: inline-flex; flex-wrap: wrap; margin: 5px;">
							
								<div class="btn btn-default"
									style="width: 118px; height: 70px; margin:5px; vertical-align: top;"
									ui-sref="projectoverview.addgraphic({mode:'CARD',dashboardid:vm.dashboards[vm.selectedDashboard].id})">
									<span class="glyphicon glyphicon-dashboard" aria-hiden="true"
										style="margin-top: 7%"> </span>
									<div>
										<h5>Analysis Card</h5>
									</div>
								</div>
								<div class="btn btn-default"
									style="width: 118px; height: 70px; margin: 5px; vertical-align: top;"
									ui-sref="projectoverview.addgraphic({mode:'AUTO',dashboardid:vm.dashboards[vm.selectedDashboard].id})">
									<span class="glyphicon glyphicon-stats" aria-hiden="true"
										style="margin-top: 7%"></span>
									<div>
										<h5>Graphic</h5>
									</div>
								</div>

								<div class="btn btn-default"
									style="width: 118px; height: 70px; margin: 5px; vertical-align: top;"
									ui-sref="projectoverview.addgraphic({mode:'VALUE',dashboardid:vm.dashboards[vm.selectedDashboard].id})">
									<span class="glyphicon glyphicon-th-list" aria-hiden="true"
										style="margin-top: 7%"></span>
									<div>
										<h5>Simple Value</h5>
									</div>
								</div>

								<div class="btn btn-default"
									style="width: 118px; height: 70px; margin: 5px; vertical-align: top;"
									ui-sref="projectoverview.addgraphic({mode:'TABLE',dashboardid:vm.dashboards[vm.selectedDashboard].id})">
									<span class="glyphicon glyphicon-list-alt" aria-hiden="true"
										style="margin-top: 7%"></span>
									<div>
										<h5>Data Table</h5>
									</div>
								</div>

								<div class="btn btn-default"
									style="width: 118px; height: 70px; margin: 5px; vertical-align: middle;"
									ui-sref="projectoverview.addgraphic({mode:'KVIS',dashboardid:vm.dashboards[vm.selectedDashboard].id})">
									<span class="glyphicon glyphicon-modal-window"
										aria-hiden="true" style="margin-top: 7%"></span>
									<div>
										<h5>
											Kibana View
										</h5>
									</div>
								</div>

								<div class="btn btn-default"
									style="width: 118px; height: 70px; margin: 5px; vertical-align: top;"
									ui-sref="projectoverview.addgraphic({mode:'MANUAL',dashboardid:vm.dashboards[vm.selectedDashboard].id})">
									<span class="glyphicon glyphicon-paperclip" aria-hiden="true"
										style="margin-top: 7%"></span>
									<div>
										<h5>
											Custom
										</h5>
									</div>
								</div>
							</div>
						<div
							ng-if="vm.dashboards[vm.selectedDashboard].dashboardDescription != null"
							class="alert alert-info" style="padding: 10px;">
							{{vm.dashboards[vm.selectedDashboard].dashboardDescription}}</div>
						<div>

							<div
								ng-if="vm.dashboards[vm.selectedDashboard].mode == 'MANUAL' || vm.dashboards[vm.selectedDashboard].mode == 'OVERVIEW'|| vm.dashboards[vm.selectedDashboard].mode == 'APPLICATION'">
								<div style="display: inline-flex; flex-wrap: wrap; width: 100%; margin-left: 15px;">

									<div
										ng-repeat="measureview in vm.dashboards[vm.selectedDashboard].measureview"
										style="margin-right: 30px;">

										<div class="row">

											<div ng-if="measureview.mode == 'CARD' || measureview.mode == 'AUTO' || measureview.mode == 'KVIS' || measureview.mode == 'KDASH' || measureview.mode == 'MANUAL'">
												<div class="thumbnail" style="margin: 0px; text-align: center; margin: 5px;">
													<div ng-bind-html="measureview.viewData | to_trusted"></div>
													<div class="caption" style="text-align: center">
														<p style="margin: 0px; white-space: pre-wrap; word-wrap: break-word;">{{measureview.name}}</p>
													</div>
												</div>
											</div>
											<div ng-if="measureview.mode == 'VALUE' && measureview.displaymode == 'SINGLE'">
												<div class="thumbnail" style=" margin: 0px; text-align: center; margin: 5px;">	
													<div style="padding:10px;display: flex;justify-content: center;flex-direction: column;overflow: auto;background-color:{{measureview.color}}; width:{{measureview.width}}px;height:{{measureview.height}}px; border-radius:5px;ver">									
														<div ng-if="measureview.value != null"  style="font-size:{{measureview.fontSize}}px;font-weight: bold;">{{measureview.value}}</div>	
														<div ng-if="measureview.datevalue != null"  style="font-size:{{measureview.fontSize}}px;font-weight: bold;">{{ measureview.datevalue | date : "MM/dd/yyyy 'at' HH:mm:ss"}}</div>	
													</div>	
												
													<div class="caption" style="text-align: center">
														<p style="margin: 0px; white-space: pre-wrap; word-wrap: break-word;">{{measureview.name}}</p>
													</div>
												</div>	
											</div>
											<div ng-if="measureview.mode == 'VALUE' && measureview.displaymode == 'MULTI'">
												<div class="thumbnail" style="margin: 0px; text-align: center; margin: 5px;">	
													<div style="padding:10px;display: flex;justify-content: center;flex-direction: column;overflow: auto;background-color:{{measureview.color}}; width:{{measureview.width}}px;height:{{measureview.height}}px; border-radius:5px;">									
														<table class="table" >
														 	<tr ng-repeat="col in measureview.value" style="">
														 		<td style="text-align:left;border:none;font-weight: bold;padding: 0px;font-size:{{measureview.fontSize}}px;">{{col.label}}</td>
														 		<td ng-if="col.value != null" style="text-align:left;border:none;padding: 0px;font-size:{{measureview.fontSize}}px;">{{col.value}}</td>
																<td ng-if="col.datevalue != null" style="text-align:left;border:none;padding: 0px;font-size:{{measureview.fontSize}}px;">{{ col.datevalue | date : "MM/dd/yyyy 'at' HH:mm:ss"}}</td>
															</tr>
														</table>
													</div>				
													<div class="caption" style="text-align: center">
														<p style="margin : 0px;margin-top: 5px; white-space: pre-wrap; word-wrap: break-word;">{{measureview.name}}</p>
													</div>
												</div>	
											</div>
											<div ng-if="measureview.mode == 'TABLE'">
												<div class="thumbnail" style="margin: 0px; text-align: center; margin: 5px;">	
													<div style="overflow: auto;background-color:{{measureview.color}}; width:{{measureview.width}}px;height:{{measureview.height}}px; border-radius:5px;">									
														<table class="table" style="margin:0px">
															<thead>
															    <tr>
															      <th  ng-repeat="headcol in measureview.columns" >{{headcol}}</th>
															    </tr>
															 </thead>
															<tr ng-repeat="measurement in measureview.measurements">
																<td ng-repeat="field in measurement.fields">
																	<div ng-if="field.value != null" style="text-align:left;">{{field.value}}</div>
																	<div ng-if="field.datevalue != null" style="text-align:left;">{{field.datevalue | date : "MM/dd/yyyy 'at' HH:mm:ss" }}</div>
																</td>
															</tr>
														</table>
														
														<div role="toolbar"  style="text-align: center;">
															<div class="btn-group" role="group">
																<button type="button" class="btn btn-default"  ng-click="vm.firstData(measureview)"><span class="glyphicon glyphicon glyphicon-time" aria-hidden="true"></span></button>
															</div>
															<div class="btn-group" role="group">
																<button type="button" class="btn btn-default" ng-click="vm.previousData(measureview)"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></button>
																<button type="button" class="btn btn-default"  disabled>{{measureview.currentpage}}</button>
																<button type="button" class="btn btn-default" ng-click="vm.nextData(measureview)"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></button>
															</div>
														</div>
													</div>				
													<div class="caption" style="text-align: center">
														<p style="margin : 0px;margin-top: 5px; white-space: pre-wrap; word-wrap: break-word;">{{measureview.name}}</p>
													</div>
												</div>	
											</div>

										</div>
										<div class="row" style="float: right;">
											<button class="btn btn-link" ng-show="vm.editdashboard"
												ui-sref="projectoverview.editgraphic({viewid:measureview.id})">
												<span class="glyphicon glyphicon-pencil" aria-hiden="true"></span>
											</button>
											<button class="btn btn-link" ng-show="vm.editdashboard"
												ng-click="vm.deletegraphic(measureview.id)">
												<span class="glyphicon glyphicon-remove" aria-hiden="true"></span>
											</button>
										</div>

									</div>


									<div
										ng-if="vm.dashboards[vm.selectedDashboard].mode == 'KIBANA' || vm.dashboards[vm.selectedDashboard].mode == 'EXTERNAL'">
										<div ng-bind-html="vm.dashboards[vm.selectedDashboard].content| to_trusted"></div>
									</div>
								</div>
							</div>


						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
</div>