
<div style="margin-left: 50px; margin-right: 50px;">

	<div class="mm-body">
		<div class="page-header">
			<h2>Measures Instances</h2>
		</div>



		<ol class="breadcrumb">
			<li><a ui-sref="home">Home</a></li>
			<li><a ui-sref="projectinstances">Measures Instances</a></li>
		</ol>


		<div style="float: right; margin-top: 0px">
			<button class="btn btn-link" ui-sref="projectinstances.new">
				<span class="glyphicon glyphicon-plus" aria-hiden="true"></span>
			</button>
		</div>

		<div class="input-group"
			style="width: 300px; float: right; margin-bottom: 20px;">
			<div class="input-group-addon">Project</div>

			<select class="form-control" id="field_measureInstance"
				name="measureInstance" ng-model="vm.project"
				ng-options="project as project.projectName for project in vm.projects">
			</select>
		</div>





		<table class="jh-table table table-condensed table-responsive">
			<thead>
				<tr>
					<th><span>Type</span></th>
					<th><span>Measure Instance</span></th>
					<th><span>Based on Measure</span></th>
					<th><span>Input Instances</span></th>
					<th><span>Scope</span></th>
					<th><span>Executed On</span></th>
					<th><span>Schedule</span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr
					ng-repeat="instance in vm.measureInstances track by instance.instanceName">
					<td style="vertical-align: top;"><a href="#"> <img
							class="media-object"
							ng-src="content/images/{{instance.measureType}}_big.png"
							title="Direct Measure">
					</a></td>

					<td style="vertical-align: top;">

						{{instance.instanceName}}

					</td>
					<td style="vertical-align: top;">{{instance.measureName}}</td>
					<td style="vertical-align: top;">
						<div ng-repeat="required in instance.ownedReferences">
							<span class="label label-success"
								ng-show="required.status == 'true'">{{required.role}} :
								{{required.referencedInstance.instanceName}}</span> <span
								class="label label-danger" ng-show="required.status == 'false'">{{required.role}}
								: {{required.referencedInstance.instanceName}}</span>
						</div>
					</td>
					<td style="vertical-align: top;">
						<dl class="dl-horizontal"
							ng-repeat="property in instance.properties"
							style="margin-bottom: 0px;">
							<dt style="text-align: left;">{{property.propertyName}}</dt>
							<dd>{{property.propertyValue}}</dd>
						</dl>
					</td>
					<td style="vertical-align: top;">
						<div ng-show="!instance.isRemote"><span class="label label-success">Measure Platform</span></div>
						
						
						
						<div ng-show="instance.isRemote">
							<span ng-show="instance.agentEnable" class="label label-success">{{instance.remoteLabel}}</span>
							<span ng-show="!instance.agentEnable" class="label label-danger">{{instance.remoteLabel}}</span>
						
						</div>
					</td>

					<td style="vertical-align: top;">
						<button
							class="btn {{instance.status == 'true' ? 'btn-success' : 'btn-danger'}} btn-sm"
							ng-click="instance.status == 'true' ? vm.stopSheduling(instance.id) : vm.startSheduling(instance.id)">
							<span class="glyphicon glyphicon glyphicon-off"></span> <span
								class="hidden-xs hidden-sm"></span>
						</button>
					</td>
					<td style="vertical-align: top;" class="text-right">

						<div class="btn-group flex-btn-group-container">
							<button type="submit" ng-show="!instance.isRemote"
								ui-sref="projectinstances.test({instanceId:instance.id})"
								class="btn btn-primary btn-sm">
								<span class="glyphicon glyphicon-flash"></span> <span
									class="hidden-xs hidden-sm"></span>
							</button>
							<button type="submit" ng-show="!instance.isRemote"
								ui-sref="projectinstances.execute({instanceId:instance.id})"
								class="btn btn-primary btn-sm">
								<span class="glyphicon glyphicon-play"></span> <span
									class="hidden-xs hidden-sm"></span>
							</button>
							<button type="submit"
								ui-sref="projectinstances.edit({instanceId:instance.id})"
								class="btn btn-primary btn-sm">
								<span class="glyphicon glyphicon-pencil"></span> <span
									class="hidden-xs hidden-sm"></span>
							</button>

							<button type="submit"
								ui-sref="projectinstances.delete({instanceId:instance.id})"
								class="btn btn-danger btn-sm">
								<span class="glyphicon glyphicon-remove-circle"></span> <span
									class="hidden-xs hidden-sm"></span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>









