
<div style="margin-left: 10px; margin-right: 10px;">

	<div class="mm-body">
		<div class="page-header" style="min-height: 40px;">
			<div style="float: left;">
				<img class="img-rounded"
					style="width: 30px; height: 30px; margin-right: 20px;"
					src="content/images/measureLogo.png"
					ng-show="vm.project.projectImage == null" /> <img
					class="img-rounded" style="width: 30px; height: 30px;"
					src="{{vm.project.projectImage}}"
					ng-show="vm.project.projectImage != null" />

			</div>
			<h2>{{vm.project.projectName}}</h2>
		</div>

		<ol class="breadcrumb">
			<li><a ui-sref="home">Home</a></li>
			<li><a ui-sref="catalogue">Projects</a></li>
			<li><a ui-sref="projectoverview({id:vm.project.id})">
					{{vm.project.projectName}}</a></li>
		</ol>

		<div class="row" style="margin: 0px;">
			<div class="col-lg-12 bhoechie-tab-container">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bhoechie-tab-menu">
					<div class="list-group">
						<a ui-sref="projectoverview({id:vm.project.id})"
							class="list-group-item text-center ">
							<h4 class="glyphicon glyphicon-blackboard"></h4> <br />Dashboards
						</a><a ui-sref="notification({id:vm.project.id})"
							class="list-group-item text-center">
							<h4 class="glyphicon glyphicon-flag"></h4> <br />Notifications
							({{vm.notifications.length}})
						</a>  <a
							ui-sref="analysismainview({id:vm.project.id})"
							class="list-group-item text-center ">
							<h4 class="glyphicon glyphicon-barcode"></h4> <br />Data Analysis
						</a><a
							ui-sref="applicationinstances({id:vm.project.id})"
							class="list-group-item text-center">
							<h4 class="glyphicon glyphicon-export"></h4> <br />Data sources
						</a><a
							ui-sref="generalconf({id:vm.project.id})"
							class="list-group-item text-center active">
							<h4 class="glyphicon glyphicon-cog"></h4> <br />Configuration
						</a>
					</div>
				</div>

				<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 bhoechie-tab">
					<!-- Project Overview section -->
					<div class="bhoechie-tab-content">

						<ul class="nav nav-tabs">
							<li role="presentation" class="active"><a
								ui-sref="generalconf({id:vm.project.id})">Project Overview</a></li>
							<li role="presentation"><a
								ui-sref="users-rightaccess({id:vm.project.id})">Project Users</a></li>
							<li role="presentation"><a
								ui-sref="projectanalysis-catalogue({id:vm.project.id})">Analysis
									Tools</a></li>

							<li ng-repeat="analyse in vm.analysis" role="presentation"
								ui-sref="analysisconfigurationview({id:vm.project.id,anid:analyse.id})"><a>{{analyse.analysisToolId}}</a></li>

						</ul>
						<div class="well-dashboard" style="min-height: 300px;">

							<div style="float: right; margin-top: 0px; text-align: right;">

								<h4 style="margin-top: 0px;">
									<a ui-sref="generalconf.editproject({id:vm.project.id})"
										style="margin: 10px;"> <span
										class="glyphicon glyphicon-pencil" aria-hiden="true"></a> <a
										ui-sref="generalconf.deleteproject({id:vm.project.id})"
										style="color: red;" style="margin: 10px;"><span
										class="glyphicon glyphicon-remove" aria-hiden="true"></a>
								</h4>
							</div>
							<div class="page-header">
								<h4>General Informations</h4>
							</div>

							<div class="row">
								<div class="col-md-2">
									<img class="img-rounded" style="width: 100%; height: 100%;"
										src="content/images/measureLogo.png"
										ng-show="vm.project.projectImage == null" /> <img
										class="img-rounded" style="width: 100%; height: 100%;"
										src="{{vm.project.projectImage}}"
										ng-show="vm.project.projectImage != null" />
								</div>
								<div class="col-md-6">
									<div>
										<div class="form-group">
											<label class="control-label" for="field_projectName">Project
												Name</label> <input type="text" class="form-control"
												name="projectName" id="field_projectName"
												ng-model="vm.project.projectName" disabled="true" />
										</div>
										<div class="form-group">
											<label class="control-label" for="field_projectDescription">Project
												Description</label>
											<textarea rows="3" type="text" class="form-control"
												name="projectDescription" id="field_projectDescription"
												ng-model="vm.project.projectDescription" disabled="true" />
										</div>
										<div class="form-group">
											<label class="control-label" for="field_creationDate">Creation
												Date</label>
											<div class="input-group">
												<input id="field_creationDate" type="text"
													class="form-control" name="creationDate"
													datetime-picker="{{dateformat}}"
													ng-model="vm.project.creationDate" disabled="true">
												<span class="input-group-btn">
													<button type="button" class="btn btn-default"
														disabled="true">
														<i class="glyphicon glyphicon-calendar"></i>
													</button>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>









