
<div style="margin-left: 10px; margin-right: 10px;">

	<div class="mm-body">
		<div class="page-header" style="min-height: 40px;">
			<div style="float: left;">
				<img class="img-rounded"
					style="width: 30px; height: 30px; margin-right: 20px;"
					src="content/images/measureLogo.png"
					ng-show="vm.project.projectImage == null" /> <img
					class="img-rounded" style="width: 30px; height: 30px;"
					src="{{vm.project.projectImage}}"
					ng-show="vm.project.projectImage != null" />

			</div>
			<h2>{{vm.project.projectName}}</h2>
		</div>

		<ol class="breadcrumb">
			<li><a ui-sref="home">Home</a></li>
			<li><a ui-sref="catalogue">Projects</a></li>
			<li><a ui-sref="projectoverview({id:vm.project.id})">
					{{vm.project.projectName}}</a></li>
		</ol>

		<div class="row" style="margin: 0px;">
			<div class="col-lg-12 bhoechie-tab-container">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bhoechie-tab-menu">
					<div class="list-group">
						<a ui-sref="projectoverview({id:vm.project.id})"
							class="list-group-item text-center">
							<h4 class="glyphicon glyphicon-blackboard"></h4> <br />Dashboards
						</a> <a ui-sref="notification({id:vm.project.id})"
							class="list-group-item text-center">
							<h4 class="glyphicon glyphicon-flag"></h4> <br />Notifications
							({{vm.notifications.length}})
						</a>  <a
							ui-sref="analysismainview({id:vm.project.id})"
							class="list-group-item text-center ">
							<h4 class="glyphicon glyphicon-barcode"></h4> <br />Data Analysis
						</a><a ui-sref="applicationinstances({id:vm.project.id})"
							class="list-group-item text-center">
							<h4 class="glyphicon glyphicon-export"></h4> <br />Data sources
						</a> <a  ui-sref="generalconf({id:vm.project.id})"
							class="list-group-item text-center active">
							<h4 class="glyphicon glyphicon-cog"></h4> <br />Configuration
						</a> 
					</div>
				</div>

				<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 bhoechie-tab">
					<!-- Project Overview section -->
					<div class="bhoechie-tab-content">

				<ul class="nav nav-tabs">
							<li role="presentation" ><a
								ui-sref="generalconf({id:vm.project.id})">Project Overview</a></li>
							<li role="presentation" class="active"><a
								ui-sref="users-rightaccess({id:vm.project.id})">Project Users</a></li>
							<li role="presentation"><a
								ui-sref="projectanalysis-catalogue({id:vm.project.id})">Analysis
									Tools</a></li>

							<li ng-repeat="analyse in vm.analysis" role="presentation"
								ui-sref="analysisconfigurationview({id:vm.project.id,anid:analyse.id})"><a>{{analyse.analysisToolId}}</a></li>

						</ul>
						<div class="well-dashboard" style="min-height: 300px;">
							<button class="btn btn-primary"
								style="float: right; min-width: 150px; min-height: 20px"
								ui-sref="users-rightaccess.invite">Invite user</button>
							<div class="page-header">
								<h4>Users Right Access</h4>
							</div>

							<table class="jh-table table table-condensed table-responsive"
								style="margin-bottom: 20px;">
								<thead>
									<tr>
										<th><span>Login</span></th>
										<th><span>First Name</span></th>
										<th><span>Last Name</span></th>
										<th><span>Email</span></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="user in vm.users">
										<td style="vertical-align: top;"><h4 style="margin: 0px;">{{user.login}}</h4></td>
										<td style="vertical-align: top;"><h4 style="margin: 0px;">{{user.first_name}}</h4></td>
										<td style="vertical-align: top;"><h4 style="margin: 0px;">{{user.last_name}}</h4></td>
										<td style="vertical-align: top;"><h4 style="margin: 0px;">{{user.email}}</h4></td>
										<td style="vertical-align: top;">											
											<button class="btn {{user.role == 'Manager' ? 'btn-success' : 'btn-info'}} btn-sm" data-ng-disabled="user.login == currentUser"
												ng-click="vm.transformRole(vm.project.id, user.id)" title="User role" >
												{{user.role}} Role
											</button>
										</td>
										<td style="vertical-align: top;" class="text-right">

											<div class="btn-group flex-btn-group-container">
												<div style="margin: 5px;" />
												<button type="submit" title="Delete user" data-ng-disabled="user.login == currentUser"
													ui-sref="users-rightaccess.delete({projectId: vm.project.id, userId: user.id})"
													class="btn btn-danger btn-sm">
													<span class="glyphicon glyphicon-remove-circle"></span> <span
														class="hidden-xs hidden-sm"></span>
												</button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>









