<nav class="navbar navbar-inverse" role="navigation">
	<div class="container" style="width: 100%;">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle"
				ng-click="vm.toggleNavbar()">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">
				<img class="logo-img img-rounded"
				src="content/images/measureLogo.png"  /> <span style="vertical-align:middle;">Measure
					Platform</span>
			</a>
		</div>
		<div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed"
			ng-switch="vm.isAuthenticated()">
			<ul class="nav navbar-nav navbar-right">

				<li ui-sref-active="active" ng-switch-when="true"><a
					ui-sref="catalogue" ng-click="vm.collapseNavbar()"> <span
						class="glyphicon glyphicon-scale"></span>&nbsp; <span>PROJECTS</span>
				</a></li>
				<li ng-class="{active: vm.$state.includes('account')}" uib-dropdown
					class="dropdown pointer" ng-switch-when="true"><a class="dropdown-toggle"
					uib-dropdown-toggle href="" id="account-menu" > <span> <span
							class="glyphicon glyphicon-th-list"></span> <span
							class="hidden-sm"> DATA SOURCES </span> <b class="caret"></b>
					</span>
				</a>
					<ul class="dropdown-menu" uib-dropdown-menu>
						<li ui-sref-active="active" ><a
							ui-sref="measure" ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-book"></span>&nbsp; <span>Measure
									Catalogue</span>
						</a></li>
						<li ui-sref-active="active" ><a
							ui-sref="application" ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-book"></span>&nbsp; <span>Applications
									Catalogue</span>
						</a></li>
						<li ui-sref-active="active" ><a
							ui-sref="analysis-services" ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon glyphicon-book"></span>&nbsp; <span>Analysis Tool Catalogue</span>
							</a></li>
					</ul></li>

				<li ng-class="{active: vm.$state.includes('account')}" uib-dropdown
					class="dropdown pointer" has-authority="ROLE_ADMIN" ng-switch-when="true"><a class="dropdown-toggle"
					uib-dropdown-toggle href="" id="account-menu"> <span> <span
							class="glyphicon glyphicon-cog"></span> <span class="hidden-sm">LOGS</span>
							<b class="caret"></b>
					</span>
				</a>
					<ul class="dropdown-menu" uib-dropdown-menu>
						<li ui-sref-active="active" ><a
							ui-sref="measure-log" ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon glyphicon-signal"></span>&nbsp; <span>Measure
									Log</span>
						</a></li>
						<li ui-sref-active="active" ><a
							ui-sref="measure-agent" ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon glyphicon-cloud"></span>&nbsp; <span>Platform Agents</span>
						</a></li>
							
					</ul></li>
	
				
				<li ng-class="{active: vm.$state.includes('admin')}"
					ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown
					class="dropdown pointer"><a class="dropdown-toggle"
					uib-dropdown-toggle href="" id="admin-menu"> <span> <span
							class="glyphicon glyphicon-tower"></span> <span class="hidden-sm">ADMINISTRATION</span>
							<b class="caret"></b>
					</span>
				</a>
					<ul class="dropdown-menu" uib-dropdown-menu>
						<li ui-sref-active="active"><a ui-sref="user-management"
							ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-user"></span>&nbsp; <span>User
									management</span>
						</a></li>
						<li ui-sref-active="active"><a ui-sref="jhi-health"
							ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-heart"></span>&nbsp; <span>Health</span>
						</a></li>
						<li ui-sref-active="active"><a ui-sref="jhi-configuration"
							ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-list-alt"></span>&nbsp; <span>Configuration</span>
						</a></li>
						<li ui-sref-active="active"><a ui-sref="audits"
							ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-bell"></span>&nbsp; <span>Audits</span>
						</a></li>
						<li ui-sref-active="active"><a ui-sref="logs"
							ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-tasks"></span>&nbsp; <span>Logs</span>
						</a></li>
						<li ng-show="vm.swaggerEnabled" ui-sref-active="active"><a
							ui-sref="docs" ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-book"></span>&nbsp; <span>API</span>
						</a></li>
						<!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
					</ul></li>
					<li ng-class="{active: vm.$state.includes('account')}" uib-dropdown
					class="dropdown pointer"><a class="dropdown-toggle"
					uib-dropdown-toggle href="" id="account-menu"> <span> <span
							class="glyphicon glyphicon-user"></span> <span class="hidden-sm">
								ACCOUNT </span> <b class="caret"></b>
					</span>
				</a>
					<ul class="dropdown-menu" uib-dropdown-menu>
						<li ui-sref-active="active" ng-switch-when="true"><a
							ui-sref="settings" ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-wrench"></span>&nbsp; <span>Settings</span>
						</a></li>
						<li ui-sref-active="active" ng-switch-when="true"><a
							ui-sref="password" ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-lock"></span>&nbsp; <span>Password</span>
						</a></li>
						<li ui-sref-active="active" ng-switch-when="true"><a
							ui-sref="sessions" ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-cloud"></span>&nbsp; <span>Sessions</span>
						</a></li>
						<li ui-sref-active="active" ng-switch-when="true"><a href=""
							ng-click="vm.logout()" id="logout"> <span
								class="glyphicon glyphicon-log-out"></span>&nbsp; <span>Sign
									out</span>
						</a></li>
						<li ui-sref-active="active" ng-switch-when="false"><a href=""
							ng-click="vm.login()" id="login"> <span
								class="glyphicon glyphicon-log-in"></span>&nbsp; <span>Sign
									in</span>
						</a></li>
						<li ui-sref-active="active" ng-switch-when="false"><a
							ui-sref="register" ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-plus-sign"></span>&nbsp; <span>Register</span>
						</a></li>
					</ul></li>
			</ul>
		</div>
	</div>
</nav>
