<div style="margin-left: 20px; margin-right: 20px;">



	<div class="mm-body">
		<div class="page-header" style="min-height: 40px;">
			<div style="float: left;">
				<img class="img-rounded"
					style="width: 30px; height: 30px; margin-right: 20px;"
					src="content/images/measureLogo.png"
					ng-show="vm.project.projectImage == null"> <img
					style="width: 80px; height: 80px;"
					src="{{vm.project.projectImage}}"
					ng-show="vm.project.projectImage != null">
			</div>
			<h2>{{vm.phase.project.projectName}} : {{vm.phase.phaseName}}
				Dashboard</h2>
		</div>

		<ol class="breadcrumb">
			<li><a ui-sref="home">Home</a></li>
			<li><a ui-sref="catalogue">Projects</a></li>
			<li><a ui-sref="projectoverview({id:vm.phase.project.id})">
					{{vm.phase.project.projectName}}</a></li>
			<li><a ui-sref="projectphases({phaseId:vm.phase.id})">
					{{vm.phase.phaseName}}</a></li>
		</ol>

		<div style="float: right; margin-top: -38px">
			<button class="btn btn-link"
				ui-sref="projectphases.edit({phaseId:vm.phase.id})">
				<span class="glyphicon glyphicon-pencil" aria-hiden="true"></span>
			</button>
			<button class="btn btn-link"
				ui-sref="projectphases.delete({phaseId:vm.phase.id})">
				<span class="glyphicon glyphicon-remove" aria-hiden="true"></span>
			</button>
		</div>
		<ul class="nav nav-tabs">
			<li role="presentation" ng-repeat="dashboard in vm.dashboards"
				ng-class="vm.isActive($index)"><a
				ng-click="vm.setActive($index)">{{dashboard.dashboardName}}</a></li>
			<li role="presentation"><a
				ui-sref="projectphases.newdashboard({phaseId:vm.phase.id})"><span
					class="glyphicon glyphicon-plus" aria-hiden="true"></span></a></li>

		</ul>


		<div ng-if="vm.dashboards[vm.selectedDashboard] != null"
			class="well-dashboard" style="min-height: 300px;">
			<div style="float: right; margin-top: -20px; margin-right: -20px;">

				<div ng-if="vm.dashboards[vm.selectedDashboard].mode == 'MANUAL'"
					style="float: right;">
					<button class="btn btn-link" ng-show="!vm.editdashboard"
						ng-click="vm.edition()">
						<span class="glyphicon glyphicon-picture" aria-hiden="true"></span>
					</button>
					<button class="btn btn-default active" ng-show="vm.editdashboard"
						ng-click="vm.edition()">
						<span class="glyphicon glyphicon-picture" aria-hiden="true"></span>
					</button>
				</div>
				<button class="btn btn-link"
					ui-sref="projectphases.editdashboard({dashboardid:vm.dashboards[vm.selectedDashboard].id})">
					<span class="glyphicon glyphicon-pencil" aria-hiden="true"></span>
				</button>
				<button class="btn btn-link"
					ui-sref="projectphases.deletedashboard({dashboardid:vm.dashboards[vm.selectedDashboard].id})">
					<span class="glyphicon glyphicon-remove" aria-hiden="true"></span>
				</button>
			</div>
			<div
				ng-if="vm.dashboards[vm.selectedDashboard].dashboardDescription != null"
				class="alert alert-info" style="padding: 10px;">
				{{vm.dashboards[vm.selectedDashboard].dashboardDescription}}</div>

			<div>

				<div ng-if="vm.dashboards[vm.selectedDashboard].mode == 'MANUAL'">
					<div
						ng-repeat="measureview in vm.dashboards[vm.selectedDashboard].measureview"
						style="{{vm.viewBlockStyle(measureview)}}">
						<div class="row">
							<div class="thumbnail"
								style="margin: 0px; text-align: center; margin-right: 5px; margin-left: 5px;">
								<div ng-bind-html="measureview.viewData | to_trusted"></div>
								<div class="caption" style="text-align: center;">
									<h3 style="margin: 0px;">{{measureview.name}}</h3>
									<p
										style="margin: 0px; white-space: pre-wrap; word-wrap: break-word;">{{measureview.description}}</p>
								</div>
							</div>
						</div>
						<div class="row" style="float: right;">
							<button class="btn btn-link" ng-show="vm.editdashboard"
								ui-sref="projectphases.editgraphic({viewid:measureview.id})">
								<span class="glyphicon glyphicon-pencil" aria-hiden="true"></span>
							</button>
							<button class="btn btn-link" ng-show="vm.editdashboard"
								ng-click="vm.deletegraphic(measureview.id)">
								<span class="glyphicon glyphicon-remove" aria-hiden="true"></span>
							</button>
						</div>

					</div>

					<div ng-show="vm.editdashboard"
						style="width: 256px; height: 256px; margin: 30px; vertical-align: top; display: inline-flex; flex-wrap: wrap;">

						<div class="btn btn-default"
							style="width: 118px; height: 118px; margin: 5px; vertical-align: top;"
							ui-sref="projectphases.addgraphic({mode:'CARD',dashboardid:vm.dashboards[vm.selectedDashboard].id})">
							<span class="glyphicon glyphicon-dashboard" aria-hiden="true"
								style="margin-top: 40%"></span>
							<div>
								<h5>Analysis Card</h5>
							</div>
						</div>
						<div class="btn btn-default"
							style="width: 118px; height: 118px; margin: 5px; vertical-align: top;"
							ui-sref="projectphases.addgraphic({mode:'AUTO',dashboardid:vm.dashboards[vm.selectedDashboard].id})">
							<span class="glyphicon glyphicon-th" aria-hiden="true"
								style="margin-top: 40%"></span>
							<div>
								<h5>Measure</h5>
							</div>
						</div>

						<div class="btn btn-default"
							style="width: 118px; height: 118px; margin: 5px; vertical-align: top;"
							ui-sref="projectphases.addgraphic({mode:'KVIS',dashboardid:vm.dashboards[vm.selectedDashboard].id})">
							<span class="glyphicon glyphicon-modal-window" aria-hiden="true"
								style="margin-top: 40%"></span>
							<div>
								<h5>
									Kibana </br> Visualisation
								</h5>
							</div>
						</div>

						<div class="btn btn-default"
							style="width: 118px; height: 118px; margin: 5px; vertical-align: top;"
							ui-sref="projectphases.addgraphic({mode:'MANUAL',dashboardid:vm.dashboards[vm.selectedDashboard].id})">
							<span class="glyphicon glyphicon-paperclip" aria-hiden="true"
								style="margin-top: 40%"></span>
							<div>
								<h5>
									Personalised </br> Content
								</h5>
							</div>
						</div>
					</div>
				</div>


				<div
					ng-if="vm.dashboards[vm.selectedDashboard].mode == 'KIBANA' || vm.dashboards[vm.selectedDashboard].mode == 'EXTERNAL'">
					<div
						ng-bind-html="vm.dashboards[vm.selectedDashboard].content| to_trusted"></div>
				</div>
			</div>
		</div>
	</div>
</div>










