<div style="margin-left: 10px; margin-right: 10px;">

	<div class="mm-body">
		<div class="page-header" style="min-height: 40px;">
			<div style="float: left;">
				<img class="img-rounded"
					style="width: 30px; height: 30px; margin-right: 20px;"
					src="content/images/measureLogo.png"
					ng-show="vm.project.projectImage == null" /> <img
					class="img-rounded" style="width: 30px; height: 30px;"
					src="{{vm.project.projectImage}}"
					ng-show="vm.project.projectImage != null" />

			</div>
			<h2>{{vm.project.projectName}}</h2>
		</div>

		<ol class="breadcrumb">
			<li><a ui-sref="home">Home</a></li>
			<li><a ui-sref="catalogue">Projects</a></li>
			<li><a ui-sref="projectoverview({id:vm.project.id})">
					{{vm.project.projectName}}</a></li>
		</ol>

		<div class="row" style="margin: 0px;">
			<div class="col-lg-12 bhoechie-tab-container">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bhoechie-tab-menu">
					<div class="list-group">
						<a ui-sref="projectoverview({id:vm.project.id})"
							class="list-group-item text-center">
							<h4 class="glyphicon glyphicon-blackboard"></h4> <br />Dashboards
						</a><a ui-sref="notification({id:vm.project.id})"
							class="list-group-item text-center">
							<h4 class="glyphicon glyphicon-flag"></h4> <br />Notifications
							({{vm.notifications.length}})
						</a> <a
							ui-sref="analysismainview({id:vm.project.id})"
							class="list-group-item text-center ">
							<h4 class="glyphicon glyphicon-barcode"></h4> <br />Data Analysis
						</a><a ui-sref="applicationinstances({id:vm.project.id})"
							class="list-group-item text-center active">
							<h4 class="glyphicon glyphicon-export"></h4> <br />Data sources
						</a><a ui-sref="generalconf({id:vm.project.id})"
							class="list-group-item text-center">
							<h4 class="glyphicon glyphicon-cog"></h4> <br />Configuration
						</a>
					</div>
				</div>
				

				<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 bhoechie-tab">
				
					<button class="btn btn-primary"
								style="float: right; min-width: 150px; min-height: 20px; margin-top: 10px"
								ui-sref="applicationinstances.new">Register Application</button>
								
					<!-- Project Overview section -->
					<div class="bhoechie-tab-content">

						<ul class="nav nav-tabs">
							<li role="presentation" class="active"><a
								ui-sref="applicationinstances({id:vm.project.id})">Applications Data Source</a></li>
							<li role="presentation"><a
								ui-sref="projectdatasources({id:vm.project.id})">Measures Data Source</a></li>
						</ul>

						<div class="well-dashboard" style="min-height: 600px;">
		


							<table class="jh-table table table-condensed table-responsive"
								style="margin-bottom: 20px;">
								<thead>
									<tr>
									    <th style="width: 40px;"><span>Name</span></th>
										<th></th>
										<th><span>Application Type</span></th>
										<th style="width: 100px;text-align: center;"><span>Activate</span></th>
										<th style="width: 150px;"></th>
									</tr>
								</thead>
								<tbody>

									<tr ng-repeat="applicationInstance in vm.applicationInstances">

										<td style="vertical-align: top;"><img
											class="media-object"
											ng-src="content/images/application.png"
											title="Direct Measure" style="width: 20px;"></td>
										<td style="vertical-align: top;">
											<h4 style="margin: 0px;">{{applicationInstance.name}}</h4>
										</td>
										<td style="vertical-align: top;">
											<h4 style="margin: 0px;">{{applicationInstance.applicationType}}</h4>
										</td>
										<td style="vertical-align: top;text-align: center;">
											<button
												class="btn {{applicationInstance.enable ? 'btn-success' : 'btn-danger'}} btn-sm"
												ng-click="applicationInstance.enable  ? vm.stopScheduling($index) : vm.startScheduling($index)">
												<span class="glyphicon glyphicon glyphicon-off"></span>
											</button>
										</td>
										<td style="vertical-align: top;" class="text-right">

											<div class="btn-group flex-btn-group-container">

												<div style="margin: 5px;"></div>
												<button type="submit" title="Edit Aplication"
													ui-sref="applicationinstances.edit({instanceId:applicationInstance.id})"
													class="btn btn-primary btn-sm">
													<span class="glyphicon glyphicon-pencil"></span> <span
														class="hidden-xs hidden-sm"></span>
												</button>
												<div style="margin: 5px;"></div>

												<button type="submit" title="Delete Application"
													ui-sref="applicationinstances.delete({instanceId:applicationInstance.id})"
													class="btn btn-danger btn-sm">
													<span class="glyphicon glyphicon-remove-circle"></span> <span
														class="hidden-xs hidden-sm"></span>
												</button>
												<div style="margin: 5px;"></div>

											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>