<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
		<h4 class="modal-title" id="myApplicationInstanceLabel">Application</h4>
	</div>
	<div class="modal-body">


		<div class="form-group">
		
			<label for="field_applicationInstance">Based on Application</label> 
			
			
			<select ng-show="vm.param.mode == 'create'" class="form-control" id="field_applicationInstance"
			 name="applicationInstance" ng-model="vm.selectedapplication" ng-options="application as application.name for application in vm.allapplications"">
				<option value=""></option>
			</select>
			
			 <input ng-show="vm.param.mode == 'edite'" type="text" class="form-control" name="applicationInstance" ng-model="vm.selectedapplication.applicationType"
			 	required  disabled/>
			
		</div>


		<div class="form-group">
			<label class="control-label" for="field_name">Application
				Name</label> <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.applicationInstance.name"
			 required  ng-disabled="vm.param.mode == 'edite'"/>
			<div ng-show="editForm.name.$invalid">
				<p class="help-block" ng-show="editForm.name.$error.required"></p>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Scope</h3>
			</div>
			
			<div class="panel-body">

			<div ng-repeat="property in vm.applicationInstance.properties" style="margin: 5px;">
				<div ng-if="property.type !='DESABLE'"  class="input-group" style="width:100%">
					<div class="input-group-addon" style="width:30%">{{property.name}}</div>

					<div ng-switch="property.type">
						<input ng-switch-when="STRING" type="text" class="form-control" ng-model="property.value">
						<input ng-switch-when="INTEGER" type="number" class="form-control" ng-model="property.value">
						<input ng-switch-when="FLOAT" type="number" class="form-control" ng-model="property.value">
						<input ng-switch-when="PASSWORD" type="password" class="form-control" ng-model="property.value">
						<select ng-switch-when="ENUM" class="form-control" ng-model="property.value" ng-options="val.value as val.label for val in property.enumType.enumvalue">

						</select>

						<div ng-switch-when="DATE">
							<input id="field_creationDate" type="text" class="form-control" name="creationDate" datetime-picker="{{dateformat}}"
							 ng-model="property.value" is-open="vm.datePickerOpenStatus.creationDate" style="width:90%" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="vm.openCalendar('creationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</div>

					</div>

				</div>
			</div>
		</div>
		</div>

	</div>
	<div ng-show="vm.errorMessage != ''" class="alert alert-danger" role="alert">{{vm.errorMessage}}</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
		</button>
		<button type="submit" ng-disabled=" vm.isSaving" class="btn btn-primary">
			<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
		</button>
	</div>
</form>